In [1]:
import pymssql
import json
import pandas as pd

server = '127.0.0.1'
user = 'SA'
password = 'freud211@cct'
#

In [ ]:
conn = pymssql.connect(server, user, password, "cctdb", port = 1401)

In [15]:
df = pd.read_sql('select * from xml_table', conn)
df.to_json('data/xml_table.json', orient = 'split')
df.head()

,Id,RecipeID,PatientID,JobNumber,RegiNumber,JobOrgan_Id,DataType,Data
0,6702,281,31571,3168507,0000130256,1,5,<EPRdata><RANinfo><A1>入院记录</A1><A2>入院记录</A2><B...
1,6716,475,31571,1653681,0000130256,1,5,<EPRdata><RANinfo><A1>入院记录</A1><A2>入院记录</A2><B...
2,11584,2088,26309,3789068,0000945512,1,7,<Request><HisID/><Name/><Sex>女</Sex><Age>49岁</...
3,6707,395,31571,2115881,0000130256,1,3,<Request><HisID/><Name/><Sex>男</Sex><Age>82岁</...
4,6718,629,31571,764829,0000130256,1,3,<Request><HisID/><Name/><Sex>男</Sex><Age>82岁</...